
/* import the fonts that are need from google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');


/* the values that can be accessed in any of our CSS classes */
:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --mobile: 375px;
  --desktop: 1440px;
}

/* setup global fonts and styles */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

/* utility styles */

/* this class is col in mobile and flex row in desktop */
/* This was used as an alternate method to the grid method for handling flex columns */
/* .split {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.desktop-2cols {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}


/* page styles */

.PAGE-CONTAINER {
  background-color: var(--violet);
  background-image: url(./images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0 2em;
  height: 100%;
  min-height: 100vh;
}


.TITLE_img {
  margin-top: 2rem;;
  max-width: 140px;
}

.IMAGE {
  width: 100%;
}

.IMAGE_img {
  max-width: 100%;
  margin: 3rem 0;
}

.TEXT-CONTENT {
  width: 100%;
  color: white;
  font-weight: thin;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.TEXT-CONTENT_heading {
  line-height: 1.5;
  margin-bottom: 1rem;
}

.TEXT-CONTENT_p {
  font-size: 1rem;
  padding: 5px;
  line-height: 1.5;
  
}

.TEXT-CONTENT_button {
  color: var(--violet);
  padding: 13px 80px;
  margin: 1rem 0;
  border-radius: 200px;
  border: none;
  max-width: 230px;
  box-shadow: 0px 6px 4px  rgba(0,0,0, .3);
  transition: all .2s linear;
  cursor: pointer;
}

.TEXT-CONTENT_button:hover {
  background-color: var(--soft-magenta);
  color: white;
  transform: scale(.9);
}
.TEXT-CONTENT_button:focus {
  border: 1px solid var(--violet);
  
}

.SOCIAL-LINKS {
 color: white;
 display: flex;
 justify-content: center;
 margin: 2rem;
}

.SOCIAL-LINKS_link {
  margin-right: 10px;
  padding: 6px;
  border: 1px solid white;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  transition: all .2s linear;
  cursor: pointer;
}

.SOCIAL-LINKS_link > .fa-facebook-f {
  margin-left: 5px;
}

.SOCIAL-LINKS_link:hover {
  transform: scale(.9);
  box-shadow: 0px 6px 3px rgba(0,0,0,.2);
}

.SOCIAL-LINKS_link i {
  width: 16px;
  height: 16px;
  margin-left: 4px;
}

.ATTRIBUTION { 
  font-size: 11px; 
  text-align: center; 
  width: 100%; 
}

.ATTRIBUTION a { color: hsl(56, 71%, 49%); }

/* media queries taking place when we get to desktop size */

@media only screen and (min-width: 1440px) {

  .split {
    flex-direction: row;
  }

  .PAGE-CONTAINER {
    background-image: url(./images/bg-desktop.svg);
    background-size: cover;
  }

  .CONTENT-CONTAINER {
    margin: 0 auto;
    max-width: var(--desktop);
  }

  .TITLE_img {
    max-width: 240px;
    margin-bottom: 4rem;
  }

  .desktop-2cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .TEXT-CONTENT{
    align-items: flex-start;
    text-align: left;
    padding-left: 2rem;
  }

  .TEXT-CONTENT_heading{
    font-size: 3.2rem;
  }

  .TEXT-CONTENT_p{
    font-size: 1.4rem;
  }

  .TEXT-CONTENT_button{
    font-size: 1.4rem;
  }

  .SOCIAL-LINKS {
    float: right;
  }

  .ATTRIBUTION {
    margin-top: 8rem;
  }

}