
/* import the fonts that are need from google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');


/* the values that can be accessed in any of our CSS classes */
:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --mobile: 375px;
  --desktop: 1440px;
}

/* setup global fonts and styles */
h1, h2 {
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}


/* utility styles */

.split {
  display: flex;
  flex-direction: column;
}


/* page styles */

.PAGE-CONTAINER {
  height: 100vh;
  background-color: var(--violet);
  background-image: url(./images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 2.5em;
}


.TITLE_img {
  max-width: 140px;
}

.IMAGE {
  width: 100%;
}

.IMAGE_img {
  max-width: 80vw;
  margin: 2.5rem 0;
}

.TEXT-CONTENT {
  width: 100%;
  color: white;
  text-align: center;
  font-weight: thin;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TEXT-CONTENT_heading {
  line-height: 1.5;
}

.TEXT-CONTENT_p {
  font-size: .9rem;
  line-height: 1.5;

}

.TEXT-CONTENT_button {
  color: var(--violet);
  padding: 1rem 6rem;
  margin-top: 1rem;
  border-radius: 200px;
  border: none;
  max-width: 230px;
  box-shadow: 2px 2px 6px  rgba(0,0,0, .3);
}

